      

<div class="container">

  <h1>Yo dog, those lists be acting like tables.</h1>

  <div class="table-esque">
    
    <ul class="table-body unstyled">
      <li class="table-row table-header">
        <div class="table-cell">
          <div class="cell-content">
            <strong>Name</strong>
          </div>
        </div>
      
        <div class="table-cell">
          <div class="cell-content">
            <strong>Location</strong>
          </div>
          
        </div>
      
        <div class="table-cell">
          <div class="cell-content">
            <strong>Price</strong>
          </div>
          
          
          
        </div>
      
        <div class="table-cell">
          <div class="cell-content">
            <strong>ID</strong>
          </div>
          
          
        </div>
      
        <div class="table-cell">
          <div class="cell-content">
            <strong>Sort</strong>
          </div>
          
          
          
        </div>
      </li>
      <!-- /table-row /table-header -->
      
      <li class="table-row">
        <div class="table-cell">
          <div class="cell-content">
            <strong>Parent</strong>
          </div>
          
        </div>
        <!-- /table-cell -->
        
        <div class="table-cell">
          <div class="cell-content">
            <%= lorem.words 5 %>
          </div>
        </div>
        <!-- /table-cell -->
        
        <div class="table-cell">
          <div class="cell-content">
            $99.99
          </div>
          
        </div>
        <!-- /table-cell -->
        
        <div class="table-cell">
          <div class="cell-content">
            #23612
          </div>
          
        </div>
        <!-- /table-cell -->
        
        
        <div class="table-cell table-actions">
          <div class="cell-content">
            <a href="#"><i class="icon-arrow-up"></i></a>
            <a href="#"><i class="icon-arrow-down"></i></a>
            <a href="#"><i class="icon-move"></i></a>
          </div>
          
          
        </div>
        <!-- /table-cell -->
        
        
        <ul>
          
          <li class="table-row">
            <div class="table-cell">
              <div class="cell-content">
                <strong>Nested Child</strong>
              </div>
            </div>
            <!-- /table-cell -->
        
            <div class="table-cell">
              <div class="cell-content">
                <%= lorem.words 5 %>
              </div>
              
            </div>
            <!-- /table-cell -->
        
            <div class="table-cell">
              <div class="cell-content">
                $99.99
              </div>
              
            </div>
            <!-- /table-cell -->
        
            <div class="table-cell">
              <div class="cell-content">
                #23612
              </div>
            </div>
            <!-- /table-cell -->
        
            <div class="table-cell table-actions">
              <div class="cell-content">
                <a href="#"><i class="icon-arrow-up"></i></a>
                <a href="#"><i class="icon-arrow-down"></i></a>
                <a href="#"><i class="icon-move"></i></a>
              </div>
            </div>
            <!-- /table-cell -->
        
          </li>
          
          
          
          <li class="table-row">
            <div class="table-cell">
              <div class="cell-content">
                <strong>Nested Child</strong>
              </div>
            </div>
            <!-- /table-cell -->
        
            <div class="table-cell">
              <div class="cell-content">
                <%= lorem.words 5 %>
              </div>
              
            </div>
            <!-- /table-cell -->
        
            <div class="table-cell">
              <div class="cell-content">
                $99.99
              </div>
              
            </div>
            <!-- /table-cell -->
        
            <div class="table-cell">
              <div class="cell-content">
                #23612
              </div>
            </div>
            <!-- /table-cell -->
        
            <div class="table-cell table-actions">
              <div class="cell-content">
                <a href="#"><i class="icon-arrow-up"></i></a>
                <a href="#"><i class="icon-arrow-down"></i></a>
                <a href="#"><i class="icon-move"></i></a>
              </div>
            </div>
            <!-- /table-cell -->
            
            <ul>
              
              <li class="table-row">
                <div class="table-cell">
                  <div class="cell-content">
                    <strong>Nested Nested Child</strong>
                  </div>
                </div>
                <!-- /table-cell -->
        
                <div class="table-cell">
                  <div class="cell-content">
                    <%= lorem.words 5 %>
                  </div>
              
                </div>
                <!-- /table-cell -->
        
                <div class="table-cell">
                  <div class="cell-content">
                    $99.99
                  </div>
              
                </div>
                <!-- /table-cell -->
        
                <div class="table-cell">
                  <div class="cell-content">
                    #23612
                  </div>
                </div>
                <!-- /table-cell -->
        
                <div class="table-cell table-actions">
                  <div class="cell-content">
                    <a href="#"><i class="icon-arrow-up"></i></a>
                    <a href="#"><i class="icon-arrow-down"></i></a>
                    <a href="#"><i class="icon-move"></i></a>
                  </div>
                </div>
                <!-- /table-cell -->
        
              </li>
              
              
              
              <li class="table-row">
                <div class="table-cell">
                  <div class="cell-content">
                    <strong>Nested Nested Child</strong>
                  </div>
                </div>
                <!-- /table-cell -->
        
                <div class="table-cell">
                  <div class="cell-content">
                    <%= lorem.words 5 %>
                  </div>
              
                </div>
                <!-- /table-cell -->
        
                <div class="table-cell">
                  <div class="cell-content">
                    $99.99
                  </div>
              
                </div>
                <!-- /table-cell -->
        
                <div class="table-cell">
                  <div class="cell-content">
                    #23612
                  </div>
                </div>
                <!-- /table-cell -->
        
                <div class="table-cell table-actions">
                  <div class="cell-content">
                    <a href="#"><i class="icon-arrow-up"></i></a>
                    <a href="#"><i class="icon-arrow-down"></i></a>
                    <a href="#"><i class="icon-move"></i></a>
                  </div>
                </div>
                <!-- /table-cell -->
                
                <ul>
                  <% 3.times do %>
                  <li class="table-row">
                    <div class="table-cell">
                      <div class="cell-content">
                        <strong>Nested Nested Nested Child</strong>
                      </div>
                    </div>
                    <!-- /table-cell -->
        
                    <div class="table-cell">
                      <div class="cell-content">
                        <%= lorem.words 5 %>
                      </div>
              
                    </div>
                    <!-- /table-cell -->
        
                    <div class="table-cell">
                      <div class="cell-content">
                        $99.99
                      </div>
              
                    </div>
                    <!-- /table-cell -->
        
                    <div class="table-cell">
                      <div class="cell-content">
                        #23612
                      </div>
                    </div>
                    <!-- /table-cell -->
        
                    <div class="table-cell table-actions">
                      <div class="cell-content">
                        <a href="#"><i class="icon-arrow-up"></i></a>
                        <a href="#"><i class="icon-arrow-down"></i></a>
                        <a href="#"><i class="icon-move"></i></a>
                      </div>
                    </div>
                    <!-- /table-cell -->
        
                  </li>
                  <% end %>
                </ul>
                
              </li>
              
              <% 3.times do %>
              
              <li class="table-row">
                <div class="table-cell">
                  <div class="cell-content">
                    <strong>Nested Nested Child</strong>
                  </div>
                </div>
                <!-- /table-cell -->
        
                <div class="table-cell">
                  <div class="cell-content">
                    <%= lorem.words 5 %>
                  </div>
              
                </div>
                <!-- /table-cell -->
        
                <div class="table-cell">
                  <div class="cell-content">
                    $99.99
                  </div>
              
                </div>
                <!-- /table-cell -->
        
                <div class="table-cell">
                  <div class="cell-content">
                    #23612
                  </div>
                </div>
                <!-- /table-cell -->
        
                <div class="table-cell table-actions">
                  <div class="cell-content">
                    <a href="#"><i class="icon-arrow-up"></i></a>
                    <a href="#"><i class="icon-arrow-down"></i></a>
                    <a href="#"><i class="icon-move"></i></a>
                  </div>
                </div>
                <!-- /table-cell -->
        
              </li>
              
              <% end %>
              
            </ul>
            
          </li>
          
          
          
          
          <% 3.times do %>
          
          <li class="table-row">
            <div class="table-cell">
              <div class="cell-content">
                <strong>Nested Child</strong>
              </div>
            </div>
            <!-- /table-cell -->
        
            <div class="table-cell">
              <div class="cell-content">
                <%= lorem.words 5 %>
              </div>
              
            </div>
            <!-- /table-cell -->
        
            <div class="table-cell">
              <div class="cell-content">
                $99.99
              </div>
              
            </div>
            <!-- /table-cell -->
        
            <div class="table-cell">
              <div class="cell-content">
                #23612
              </div>
            </div>
            <!-- /table-cell -->
        
            <div class="table-cell table-actions">
              <div class="cell-content">
                <a href="#"><i class="icon-arrow-up"></i></a>
                <a href="#"><i class="icon-arrow-down"></i></a>
                <a href="#"><i class="icon-move"></i></a>
              </div>
            </div>
            <!-- /table-cell -->
        
          </li>
          
          <% end %>
        </ul>
        
        
      </li>
      
      <% 3.times do %>
      
      <li class="table-row">
        <div class="table-cell">
          
          <div class="cell-content">
            <%= lorem.sentences 1 %>
          </div>
          
          
        </div>
        <!-- /table-cell -->
        
        <div class="table-cell">
          <div class="cell-content">
            <%= lorem.words 5 %>
          </div>
          
          
        </div>
        <!-- /table-cell -->
        
        <div class="table-cell">
          
          <div class="cell-content">
            $99.99
          </div>
          
        </div>
        <!-- /table-cell -->
        
        <div class="table-cell">
          <div class="cell-content">
            #23612
          </div>
          
          
          
        </div>
        <!-- /table-cell -->
        
        
        <div class="table-cell table-actions">
          <div class="cell-content">
            <a href="#"><i class="icon-arrow-up"></i></a>
            <a href="#"><i class="icon-arrow-down"></i></a>
            <a href="#"><i class="icon-move"></i></a>
            
          </div>
          
          
        </div>
        <!-- /table-cell -->
        
      </li>
      
      <% end %>
      
    </ul>
    <!-- /table-body -->

  </div>
  <!-- /table-esque -->
  
</div>
<!-- /container -->
